/* Global */
:root {
    --yellow: #ffc600;
    --black: #272727;
    --white: #f8f8f8;
}

html {
    box-sizing: border-box;
    color: var(--black);
}

* {
    box-sizing: inherit;
}

body {
    letter-spacing: -1px;
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


/* Header */
header {
    background: var(--yellow);
    padding-top: 20px;
    padding-bottom: 10px;
}

#header>.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


header a {
    color: var(--black);
    text-decoration: none;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    font-size: 45px;
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header a:hover {
    border-style: solid;
    padding: 5px;
    background: var(--white);
}
/* Header section ends here */


/* Order list */
main.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.food-image {
    float: left;
    width: 20%;
}

.food-details {
    float: left;
    width: 37%;
}

.food-price {
    float: left;
    width: 12%;
}

.food-quantity {
    float: left;
    width: 10%;
}

.order-complete {
    float: left;
    width: 12%;
}


.order-removal {
    float: left;
    width: 9%;
}

.food-line-price {
    float: left;
    width: 12%;
    text-align: right;
}

/* Using the traditional clearfix */
.group:before,
.food-cart:before,
.column-labels:before,
.food:before,
.group:after,
.food-cart:after,
.column-labels:after,
.food:after {
    content: '';
    display: table;
}

.group:after,
.food-cart:after,
.column-labels:after,
.food:after {
    clear: both;
}

.group,
.food-cart,
.column-labels,
.food {
    zoom: 1;
}


/* Apply kenyan shillings */
.food .food-price:before,
.food .food-line-price:before {
    content: 'Kshs.';
}

h1 {
    font-weight: 100;
}

label {
    color: #aaa;
}

.food-cart {
    margin-top: -45px;
}

/* Column headers */
.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.column-labels .food-image,
.column-labels .food-details,
.column-labels .order-removal {
    text-indent: -9999px;
}

/* Food entries */
.food {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.food .food-image {
    text-align: center;
}

.food .food-image img {
    width: 100px;
}

.food .food-details .food-title {
    margin-right: 20px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.food .food-details .food-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}

.food .food-quantity input {
    width: 40px;
}

.food .cancel-order {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}

.food .cancel-order:hover {
    background-color: #a44;
}

.food .complete-order {
    border: 0;
    padding: 4px 8px;
    background-color: #67cc5e;
    color: var(--white);
    font-size: 12px;
    border-radius: 3px;    
}

.food .complete-order:hover {
    background-color: #13660b;
}


/* Footer */
footer {
    background-color: var(--yellow);
    color: var(--black);
}

#footer>.container {
    display: grid;
    grid-template-columns: 145px 250px 250px 200px;
    grid-gap: 20px;
    padding-top: 20px;
    padding-left: 142px;
    width: 80%;
    margin: auto;
    overflow: hidden;

}

.copyright {
    font-size: 17px;
    font-weight: bold;
}


/* Media queries */
/* Make adjustments for tablet */
@media screen and (max-width: 650px) {

    header #branding,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }


    .food-cart {
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid #eee;
    }

    .column-labels {
        display: none;
    }

    .food-image {
        float: right;
        width: auto;
    }

    .food-image img {
        margin: 0 0 10px 10px;
    }

    .food-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .food-price {
        clear: both;
        width: 70px;
    }

    .food-quantity {
        width: 100px;
    }

    .food-quantity input {
        margin-left: 20px;
    }

    .food-quantity:before {
        content: 'x';
    }

    .food-removal {
        width: auto;
    }

    .food-line-price {
        float: right;
        width: 70px;
    }
}

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
    .order-removal {
        float: right;
    }
}

@media(max-width: 768px) {

    header #branding,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }
}